.btn{
    background-color: white;
    border: 2.5px solid rgb(67, 220, 20);
    color:  rgb(20, 220, 53);
    /* border-radius: 10px; */
}
.btn:hover{
    border: 3.5px solid white; 
    color: white;
    background-color: rgb(47, 220, 20);
}